body {
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
}
.panel{
    display: flex;
    margin: 0 30%; 
}
.lives{
    display: inline-block;
}
.panel .lives li{
    list-style: none;
	display: inline-block;
}

.live img{
    height: 30px;
}

.player-score{
    margin-left: 15em; 
}

canvas{
    margin-top: -4em; 
}